<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/Style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
    <title> Where its @ </title>
</head>

<body>
    <div class = "admin-wrapper">
        <button class = "loginPageButton"><a href="loginPage.html">LOGIN</a></button>
        
        <section class="logo">
            <img src="./images/logo-colour.png" alt="logo">
        </section>
        
        <section class = "admin-rightBox"> 
            <p id="addEventResponse" class="hideresponse"> 
            <h1 class = "admin"> Add Events</h1>             
            <input type="text" placeholder="Name" id="eventName">            
            <input type="text" placeholder="Where" id="place">
            <input type="text" placeholder="Date" id="date">
            <input type="text" placeholder="From Time" class="halfInputBox" id="fromTime">
            <input type="text" placeholder="To Time" class="halfInputBox" size="4" id="toTime">
            <input type="text" placeholder="Tickets" class="halfInputBox" id="howmany">
            <input type="text" placeholder="Price" class="halfInputBox" id="price">         
            

            <button class="createEventButton"  id="addEventBtn" id="addEventBtn">Add Event</button>
        </section>
    </div>
    
    <!--End of wrapper---->

    <!--Javascript-->
    <script src="script/admin.js" type="module"></script>
    
</body>

</html>  