<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
    <title>Skapa konto</title>
</head>
<body>
    <main class="wrapper">
        <h1>Skapa konto</h1>
        <section class="form">
            <label for="username">Enter Username</label>
            <input type="text" id="username" class="input-field">
            <label for="pass">Enter password</label>
            <input type="password" id="pass" class="input-field">
        </section>
    
        <button id="submit" class="button">CREATE ACCOUNT</button>
    </main>

    <script src="script/createAccount.js"></script>
</body>
</html>