<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
    <title>Whereitat-login</title>
</head>
<body>
    <div class="yellowWrapper">
        <section class="logo">
            <img src="./images/logo.png" alt="logo">
            <h1 class = "yellowh1" >Where it´s@</h1>
        </section>
        <section class="choice">
            <h2 class = "yellowh2">LOGIN PAGE</h1>
            <button class="staffButton"><a href="staff.html">Staff</a></button>
            <button class="verifyButton"><a href="staff.html">Admin</a></button>
        </section>
    </div>
</body>
</html>