<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/Style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
    <title> Where its @ </title>
</head>

<body>
    <div class="wrapper">
        <button class = "loginPageButton"><a href="index.html">Home</a></button>
        <p class = "paragraph"> You are about to score <br> some tickets to </p>
        <section class = "order">
                <div class = "theOrder" id = "ordersId"></div>
        
         </section>
    </div>

    <!--End of wrapper---->

    <!--Javascript-->
    <script src="script/order.js" type="module"></script>
    
</body>

</html>  