<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
    <title> </title>
</head>
<body>
    <main class="yellowWrapper">
        <section class="logo">
            <img src="./images/logo.png" alt="logo">
            <h1 class = "yellowh1" >Where it´s@</h1>
        </section>
        <section class="choice">
            <h2 class = "yellowh2">STAFF</h1>
            <section class="form-input">
                <input type="text" placeholder="Username" id="username">
                <input type="password" placeholder="Password" id="password">
            </section>
            <button id="loginButton">Log in</button>
            <p id="errormessage" class="hide">to hide this</p>
        </section>
    
       
        </section>
    </main>

    <script src="script/staff.js"></script>
</body>
</html>