<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/Style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
    <title> Where its @ </title>
</head>

<body>
    <div class="wrapper">
        <section class = "ticket">
                <div class = "theTicket"></div>
        
         </section>
         <button class = "loginPageButton"><a href="index.html">Home</a></button>

    </div>

    <!--End of wrapper---->

    <!--Javascript-->
    <script src="script/ticket.js" type="module"></script>
    
</body>

</html>  